{% extends '::base_interlocuteur.html.twig' %}
{% block fos_user_content %}

    <div style="
    margin-left: 120px;
    margin-right: 120px;
"> <h3><p>La relation d’une maman avec son Bébé est singulière. La future mère porte son enfant pendant 9 mois,
        elle est la première à entrer véritablement en contact avec lui dès sa naissance, à lui donner le sein éventuellement. L’allaitement étant une pratique fusionnelle, la relation maman-enfant ne peut être que renforcée. « Pendant les six premiers mois de vie du bébé, il est normal que la mère soit fusionnelle avec son petit », explique la spécialiste Françoise Rosenblatt. Mais jusqu’où cette symbiose doit-elle aller ? Dans notre contenu « question – réponse », vous découvrirez le témoignage d’une jeune maman dont la fillette de 22 mois est très exclusive au point de rejeter son papa. Une erreur a-t-elle été commise dans l’éducation de la petite fille ? Découvrez la réponse de notre expert dans notre article « ma fille est un vrai petit pot de colle avec moi ». Pour finir sur une touche un peu plus ludique,
                amusez-vous à réaliser notre test pour savoir si vous êtes trop protectrice avec votre bébé.</p></h3></div>
{% endblock %}