{% extends '::base_admin.html.twig' %}
{% block fos_user_content %}

    <section class="content">
        <div class="row">
            <div class="col-md-4">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Ajouter une garderie</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" method="post" enctype="multipart/form-data">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Nom:</label>
                                <input type="text" name="nom" class="form-control" id="" placeholder="titre de l'article">
                            </div>
                            <div class="form-group">
                                <label>description:</label>
                                <textarea  name="description" class="form-control" id="" placeholder="titre de l'article">
                                </textarea>
                            </div>
                            <div class="form-group">
                                <label>Adresse:</label>
                                <input type="text" class="form-control" name="adresse" rows="3" placeholder="adresse">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Image:</label>
                                <input type="file" name="imggard" class="form-control" id="" >
                            </div>


                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Ajouter</button>
                        </div>
                    </form>
                </div>
            </div>



        </div>
    </section>

{% endblock %}


