{% extends 'base_admin.html.twig' %}
{% block fos_user_content %}




                    <div class="modal-content">
                        <div class="modal-header">


                            <h4 class="modal-title">Primary Modal</h4>
                        </div>
                        <div class="modal-body">
                            <form role="form" method="post">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Nom</label>
                                        <input type="text"  name="nom" class="form-control"  placeholder="nom de vaccin" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea type="text"  name="desc" class="form-control"  placeholder="Description" required>
                                        </textarea>
                                    </div>

                                    <!-- /.box-body -->
                                    <div class="form-group">
                                        <label>Age approprié</label>
                                        <input type="text" name="age" class="form-control"  placeholder="Age En Mois." required>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Ajouter</button>
                                </div>
                            </form>
                        </div>
                        {% for flash_message in app.session.flashBag.get('success') %}
                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <h4><i class="icon fa fa-check"></i> Success </h4>
                                {{ flash_message }}
                            </div>
                        {% endfor %}
                    </div>
                    <!-- /.modal-content -->

                <!-- /.modal-dialog -->

{% endblock %}
